<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Rent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/shards.min.css"/>
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">New Rent</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/addrent}" th:object="${rent}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="carModel" class="col-form-label">Car model</label>
                        <select required class="form-control" id="carModel" name="carModel" path="carModel">
                            <option value="" disabled selected hidden>Select Car model</option>
                            <option th:each="model : ${models}"
                                    th:value="${model.id}"
                                    th:text="${model.name}"></option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="customer" class="col-form-label">Customer</label>
                        <select required class="form-control" id="customer" name="customer" path="customer">
                            <option value="" disabled selected hidden>Select customer</option>
                            <option th:each="customer : ${customers}"
                                    th:value="${customer.id}"
                                    th:text="${customer.name}"></option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="office" class="col-form-label">Office</label>
                        <select required class="form-control" id="office" name="office" path="office">
                            <option value="" disabled selected hidden>Select office</option>
                            <option th:each="office : ${offices}"
                                    th:value="${office.id}"
                                    th:text="${office.name}"></option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="carNumber" class="col-form-label">Car number</label>
                        <input type="text" th:field="*{carNumber}" class="form-control" id="carNumber" placeholder="carNumber">
                        <span th:if="${#fields.hasErrors('carNumber')}" th:errors="*{carNumber}" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="eventDate" class="col-form-label">Event date</label>
                        <input type="date" th:field="*{eventDate}" class="form-control" id="eventDate" placeholder="eventDate">
                        <span th:if="${#fields.hasErrors('eventDate')}" th:errors="*{eventDate}" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="carEvent" class="col-form-label">Car event</label>
                        <select required class="form-control" id="carEvent" name="carEvent" path="carEvent">
                            <option value="" disabled selected hidden>Select event</option>
                            <option th:each="carEvent : ${events}"
                                    th:value="${carEvent}"
                                    th:text="${carEvent}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add Rent"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>